h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
    text-align: center;
}

p, ul, li {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

